@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", Arial, sans-serif;
}

:root {
    --Ukuran1-size: 12px;
    --Ukuran2-size: 14px;
}

:root {
    --Hitam-color: rgb(0, 0, 0);
    --Abuabu-color: rgb(239, 239, 241);
    --Putih-color: rgb(255, 255, 255);
    --Merah-color: #ff0000;
    --BiruBanner-color: #2b0486;
}

:root {
    --Huruf-font: "Raleway", Arial, sans-serif;
}


/* ---------  Pembatas Bagian --------- */

html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 100px;
    z-index: 103;
    transition: 0.6s;
}

/* Bag. Efek animasi Bar header  */
header.sticky {
    background-color: #0D2D46;
    background-image: linear-gradient(180deg, #0D2D46 10%, #0D2D46 91%, #ffffff 131%);
    border-bottom: 1px solid(0, 0, 0, 0.1);
    transition: 0.6s;
}

header .logo {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.7em;
    letter-spacing: 2px;
    transition: 0.6s;
    font-family: "Kavoon";
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}

/* Bag. Tombol-tombol Menu */
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.6s;
    font-size: 16px;
}


/* GARISNYA */
header ul li a::before {
    position: absolute;
    content: "";
    height: 3px;
    background: white;
    top: 110%;
    left: 0;
    transition: 0.4s;
}

header ul li:hover a::before {
    width: 50%;
    transform: translateX(100%);
}

.banner {
    margin: 0;
    padding: 0;
    background: #0a2a43;
    min-height: 100%;
}

#home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 101;
}

#home::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 101;
    mix-blend-mode: color;
}

#textbanner {
    position: relative;
    color: #E9F6FF;
    font-size: 2em;
    z-index: 1;
}

#home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#pi {
    z-index: 2;
}

.banner .coverbanner {
    margin: -18%;
    margin-top: -20%;
    text-shadow: 0 2px 2px rgba(92, 92, 92, 0.5);
}

.banner .coverbanner .teks-1 {
    font-size: 35px;
}

.banner .coverbanner .teks-2 {
    font-size: 50px;
    font-weight: bold;
}

.banner .coverbanner .teks-3 {
    font-size: 35px;
}

.sidbtn {
    display: none;
}

/* ************************************************************************* */
/* hijau lumut */
@media screen and (max-width:510px) {

    /* side tombol */
    .sidbtn {
        position: absolute;
        right: 190px;
        top: 20px;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        background: rgb(0, 255, 8);
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
    }

    .sidbtn span:before {
        content: "510px";
        font-size: 15px;
        color: wheat;
        position: absolute;
        background: black;
        top: 10px;
        left: 0;
        transition: 0.3s;
    }

    header {
        padding: 10px 35px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /* text banner */
    #textbanner {
        padding: 0;
        position: absolute;
        width: 690px;
    }

    #textbanner div {
        padding: 0 200px;
        margin-bottom: 5px;
        margin-left: -280px;
        font-size: 30px;
        line-height: 40px;
        overflow: hidden;
    }

    #paper {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 185px;
        transition: .3s;

    }

    #paper ul {
        float: right;

        padding: 30px 24px;
        height: 100%;
        display: block;
        text-decoration: none;
        background-color: rgba(19, 51, 76, 0.5);
    }

    #paper ul li {
        margin-bottom: 30px;

    }

    #paper ul li a {
        margin-bottom: 333px;
        color: white;
        font-size: 18px;
    }

    .sidbtn span {
        display: block;
        width: 28px;
        height: 3px;
        background: black;
        position: absolute;
        top: 6px;
        left: 3px;
        transition: 0.3s;

    }

    .sidbtn span:after {
        content: '';
        position: absolute;

        background: black;
        top: 20px;
        left: 0;
        transition: 0.3s;
    }

}

/* hijau lumut */
@media screen and (max-width:500px) {

    /* side tombol */
    .sidbtn {
        position: absolute;
        right: 190px;
        top: 20px;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        background: rgb(0, 255, 8);
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
    }

    .sidbtn span:before {
        content: "500px";
        font-size: 15px;
        color: wheat;
        position: absolute;
        background: black;
        top: 10px;
        left: 0;
        transition: 0.3s;
    }

    header {
        padding: 10px 35px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /* text banner */
    #textbanner {
        padding: 0;
        position: absolute;
        width: 690px;
    }

    #textbanner div {
        padding: 0 200px;
        margin-bottom: 5px;
        margin-left: -280px;
        font-size: 30px;
        line-height: 40px;
        overflow: hidden;
    }

    #paper {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 185px;
        transition: .3s;

    }

    #paper ul {
        float: right;

        padding: 30px 24px;
        height: 100%;
        display: block;
        text-decoration: none;
        background-color: rgba(19, 51, 76, 0.5);
    }

    #paper ul li {
        margin-bottom: 30px;

    }

    #paper ul li a {
        margin-bottom: 333px;
        color: white;
        font-size: 18px;
    }

    .sidbtn span {
        display: block;
        width: 28px;
        height: 3px;
        background: black;
        position: absolute;
        top: 6px;
        left: 3px;
        transition: 0.3s;

    }

    .sidbtn span:after {
        content: '';
        position: absolute;

        background: black;
        top: 20px;
        left: 0;
        transition: 0.3s;
    }

}

/* PEMBAATASNYA BOS */


/* hijau lumut */
@media screen and (max-width:490px) {

    /* side tombol */
    .sidbtn {
        position: absolute;
        right: 190px;
        top: 20px;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        background: rgb(0, 255, 8);
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
    }

    .sidbtn span:before {
        content: "490px";
        font-size: 15px;
        color: wheat;
        position: absolute;
        background: black;
        top: 10px;
        left: 0;
        transition: 0.3s;
    }

    header {
        padding: 10px 35px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /* text banner */
    #textbanner {
        padding: 0;
        position: absolute;
        width: 690px;
    }

    #textbanner div {
        padding: 0 200px;
        margin-bottom: 5px;
        margin-left: -280px;
        font-size: 30px;
        line-height: 40px;
        overflow: hidden;
    }

    #paper {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 185px;
        transition: .3s;

    }

    #paper ul {
        float: right;

        padding: 30px 24px;
        height: 100%;
        display: block;
        text-decoration: none;
        background-color: rgba(19, 51, 76, 0.5);
    }

    #paper ul li {
        margin-bottom: 30px;

    }

    #paper ul li a {
        margin-bottom: 333px;
        color: white;
        font-size: 18px;
    }

    .sidbtn span {
        display: block;
        width: 28px;
        height: 3px;
        background: black;
        position: absolute;
        top: 6px;
        left: 3px;
        transition: 0.3s;

    }

    .sidbtn span:after {
        content: '';
        position: absolute;

        background: black;
        top: 20px;
        left: 0;
        transition: 0.3s;
    }

}

/* PEMBAATASNYA BOS */



/* hijau lumut */
@media screen and (max-width:480px) {

    /* side tombol */
    .sidbtn {
        position: absolute;
        right: 190px;
        top: 20px;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        background: rgb(0, 255, 8);
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
    }

    .sidbtn span:before {
        content: "480px";
        font-size: 15px;
        color: wheat;
        position: absolute;
        background: black;
        top: 10px;
        left: 0;
        transition: 0.3s;
    }

    header {
        padding: 10px 35px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /* text banner */
    #textbanner {
        padding: 0;
        position: absolute;
        width: 690px;
    }

    #textbanner div {
        padding: 0 200px;
        margin-bottom: 5px;
        margin-left: -280px;
        font-size: 30px;
        line-height: 40px;
        overflow: hidden;
    }

    #paper {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 185px;
        transition: .3s;

    }

    #paper ul {
        float: right;

        padding: 30px 24px;
        height: 100%;
        display: block;
        text-decoration: none;
        background-color: rgba(19, 51, 76, 0.5);
    }

    #paper ul li {
        margin-bottom: 30px;

    }

    #paper ul li a {
        margin-bottom: 333px;
        color: white;
        font-size: 18px;
    }

    .sidbtn span {
        display: block;
        width: 28px;
        height: 3px;
        background: black;
        position: absolute;
        top: 6px;
        left: 3px;
        transition: 0.3s;

    }

    .sidbtn span:after {
        content: '';
        position: absolute;

        background: black;
        top: 20px;
        left: 0;
        transition: 0.3s;
    }

}

/* PEMBAATASNYA BOS */

/* hijau lumut */
@media screen and (max-width:470px) {

    /* side tombol */
    .sidbtn {
        position: absolute;
        right: 190px;
        top: 20px;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        background: rgb(0, 255, 8);
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
    }

    .sidbtn span:before {
        content: "470px";
        font-size: 15px;
        color: wheat;
        position: absolute;
        background: black;
        top: 10px;
        left: 0;
        transition: 0.3s;
    }

    header {
        padding: 10px 35px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /* text banner */
    #textbanner {
        padding: 0;
        position: absolute;
        width: 690px;
    }

    #textbanner div {
        padding: 0 200px;
        margin-bottom: 5px;
        margin-left: -280px;
        font-size: 30px;
        line-height: 40px;
        overflow: hidden;
    }

    #paper {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 185px;
        transition: .3s;

    }

    #paper ul {
        float: right;

        padding: 30px 24px;
        height: 100%;
        display: block;
        text-decoration: none;
        background-color: rgba(19, 51, 76, 0.5);
    }

    #paper ul li {
        margin-bottom: 30px;

    }

    #paper ul li a {
        margin-bottom: 333px;
        color: white;
        font-size: 18px;
    }

    .sidbtn span {
        display: block;
        width: 28px;
        height: 3px;
        background: black;
        position: absolute;
        top: 6px;
        left: 3px;
        transition: 0.3s;

    }

    .sidbtn span:after {
        content: '';
        position: absolute;

        background: black;
        top: 20px;
        left: 0;
        transition: 0.3s;
    }

}

/* PEMBAATASNYA BOS */


/* hijau lumut */
@media screen and (max-width:460px) {

    /* side tombol */
    .sidbtn {
        position: absolute;
        right: 190px;
        top: 20px;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        background: rgb(0, 255, 8);
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
    }

    .sidbtn span:before {
        content: "460px";
        font-size: 15px;
        color: wheat;
        position: absolute;
        background: black;
        top: 10px;
        left: 0;
        transition: 0.3s;
    }

    header {
        padding: 10px 35px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /* text banner */
    #textbanner {
        padding: 0;
        position: absolute;
        width: 690px;
    }

    #textbanner div {
        padding: 0 200px;
        margin-bottom: 5px;
        margin-left: -280px;
        font-size: 30px;
        line-height: 40px;
        overflow: hidden;
    }

    #paper {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 185px;
        transition: .3s;

    }

    #paper ul {
        float: right;

        padding: 30px 24px;
        height: 100%;
        display: block;
        text-decoration: none;
        background-color: rgba(19, 51, 76, 0.5);
    }

    #paper ul li {
        margin-bottom: 30px;

    }

    #paper ul li a {
        margin-bottom: 333px;
        color: white;
        font-size: 18px;
    }

    .sidbtn span {
        display: block;
        width: 28px;
        height: 3px;
        background: black;
        position: absolute;
        top: 6px;
        left: 3px;
        transition: 0.3s;

    }

    .sidbtn span:after {
        content: '';
        position: absolute;

        background: black;
        top: 20px;
        left: 0;
        transition: 0.3s;
    }

}

/* PEMBAATASNYA BOS */


/* hijau lumut */
@media screen and (max-width:450px) {

    /* side tombol */
    .sidbtn {
        position: absolute;
        right: 190px;
        top: 20px;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        background: rgb(0, 255, 8);
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
    }

    .sidbtn span:before {
        content: "450px";
        font-size: 15px;
        color: wheat;
        position: absolute;
        background: black;
        top: 10px;
        left: 0;
        transition: 0.3s;
    }

    header {
        padding: 10px 35px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /* text banner */
    #textbanner {
        padding: 0;
        position: absolute;
        width: 690px;
    }

    #textbanner div {
        padding: 0 200px;
        margin-bottom: 5px;
        margin-left: -280px;
        font-size: 30px;
        line-height: 40px;
        overflow: hidden;
    }

    #paper {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 185px;
        transition: .3s;

    }

    #paper ul {
        float: right;

        padding: 30px 24px;
        height: 100%;
        display: block;
        text-decoration: none;
        background-color: rgba(19, 51, 76, 0.5);
    }

    #paper ul li {
        margin-bottom: 30px;

    }

    #paper ul li a {
        margin-bottom: 333px;
        color: white;
        font-size: 18px;
    }

    .sidbtn span {
        display: block;
        width: 28px;
        height: 3px;
        background: black;
        position: absolute;
        top: 6px;
        left: 3px;
        transition: 0.3s;

    }


    .sidbtn span:after {
        content: '';
        position: absolute;

        background: black;
        top: 20px;
        left: 0;
        transition: 0.3s;
    }

}

/* PEMBAATASNYA BOS */




/* hijau lumut */
@media screen and (max-width:440px) {

    /* side tombol */
    .sidbtn {
        position: absolute;
        right: 190px;
        top: 20px;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        background: rgb(0, 255, 8);
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
    }

    .sidbtn span:before {
        content: "440px";
        font-size: 15px;
        color: wheat;
        position: absolute;
        background: black;
        top: 10px;
        left: 0;
        transition: 0.3s;
    }

    header {
        padding: 10px 35px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /* text banner */
    #textbanner {
        padding: 0;
        position: absolute;
        width: 690px;
    }

    #textbanner div {
        padding: 0 200px;
        margin-bottom: 5px;
        margin-left: -280px;
        font-size: 30px;
        line-height: 40px;
        overflow: hidden;
    }

    #paper {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 185px;
        transition: .3s;

    }

    #paper ul {
        float: right;

        padding: 30px 24px;
        height: 100%;
        display: block;
        text-decoration: none;
        background-color: rgba(19, 51, 76, 0.5);
    }

    #paper ul li {
        margin-bottom: 30px;

    }

    #paper ul li a {
        margin-bottom: 333px;
        color: white;
        font-size: 18px;
    }

    .sidbtn span {
        display: block;
        width: 28px;
        height: 3px;
        background: black;
        position: absolute;
        top: 6px;
        left: 3px;
        transition: 0.3s;

    }


    .sidbtn span:after {
        content: '';
        position: absolute;

        background: black;
        top: 20px;
        left: 0;
        transition: 0.3s;
    }

}

/* PEMBAATASNYA BOS */




/* hijau lumut */
@media screen and (max-width:430px) {

    /* side tombol */
    .sidbtn {
        position: absolute;
        right: 190px;
        top: 20px;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        background: rgb(0, 255, 8);
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
    }

    .sidbtn span:before {
        content: "430px";
        font-size: 15px;
        color: wheat;
        position: absolute;
        background: black;
        top: 10px;
        left: 0;
        transition: 0.3s;
    }

    header {
        padding: 10px 35px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /* text banner */
    #textbanner {
        padding: 0;
        position: absolute;
        width: 690px;
    }

    #textbanner div {
        padding: 0 200px;
        margin-bottom: 5px;
        margin-left: -280px;
        font-size: 30px;
        line-height: 40px;
        overflow: hidden;
    }

    #paper {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 185px;
        transition: .3s;

    }

    #paper ul {
        float: right;

        padding: 30px 24px;
        height: 100%;
        display: block;
        text-decoration: none;
        background-color: rgba(19, 51, 76, 0.5);
    }

    #paper ul li {
        margin-bottom: 30px;

    }

    #paper ul li a {
        margin-bottom: 333px;
        color: white;
        font-size: 18px;
    }

    .sidbtn span {
        display: block;
        width: 28px;
        height: 3px;
        background: black;
        position: absolute;
        top: 6px;
        left: 3px;
        transition: 0.3s;

    }


    .sidbtn span:after {
        content: '';
        position: absolute;

        background: black;
        top: 20px;
        left: 0;
        transition: 0.3s;
    }

}

/* PEMBAATASNYA BOS */

/* hijau lumut */
@media screen and (max-width:420px) {

    /* side tombol */
    .sidbtn {
        position: absolute;
        right: 190px;
        top: 20px;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        background: rgb(0, 255, 8);
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
    }

    .sidbtn span:before {
        content: "420px";
        font-size: 15px;
        color: wheat;
        position: absolute;
        background: black;
        top: 10px;
        left: 0;
        transition: 0.3s;
    }

    header {
        padding: 10px 35px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /* text banner */
    #textbanner {
        padding: 0;
        position: absolute;
        width: 690px;
    }

    #textbanner div {
        padding: 0 200px;
        margin-bottom: 5px;
        margin-left: -280px;
        font-size: 30px;
        line-height: 40px;
        overflow: hidden;
    }

    #paper {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 185px;
        transition: .3s;

    }

    #paper ul {
        float: right;

        padding: 30px 24px;
        height: 100%;
        display: block;
        text-decoration: none;
        background-color: rgba(19, 51, 76, 0.5);
    }

    #paper ul li {
        margin-bottom: 30px;

    }

    #paper ul li a {
        margin-bottom: 333px;
        color: white;
        font-size: 18px;
    }

    .sidbtn span {
        display: block;
        width: 28px;
        height: 3px;
        background: black;
        position: absolute;
        top: 6px;
        left: 3px;
        transition: 0.3s;

    }


    .sidbtn span:after {
        content: '';
        position: absolute;

        background: black;
        top: 20px;
        left: 0;
        transition: 0.3s;
    }

}

/* PEMBAATASNYA BOS */

/* hijau lumut */
@media screen and (max-width:410px) {

    /* side tombol */
    .sidbtn {
        position: absolute;
        right: 190px;
        top: 20px;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        background: rgb(0, 255, 8);
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
    }

    .sidbtn span:before {
        content: "410px";
        font-size: 15px;
        color: wheat;
        position: absolute;
        background: black;
        top: 10px;
        left: 0;
        transition: 0.3s;
    }

    header {
        padding: 10px 35px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /* text banner */
    #textbanner {
        padding: 0;
        position: absolute;
        width: 690px;
    }

    #textbanner div {
        padding: 0 200px;
        margin-bottom: 5px;
        margin-left: -280px;
        font-size: 30px;
        line-height: 40px;
        overflow: hidden;
    }

    #paper {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 185px;
        transition: .3s;

    }

    #paper ul {
        float: right;

        padding: 30px 24px;
        height: 100%;
        display: block;
        text-decoration: none;
        background-color: rgba(19, 51, 76, 0.5);
    }

    #paper ul li {
        margin-bottom: 30px;

    }

    #paper ul li a {
        margin-bottom: 333px;
        color: white;
        font-size: 18px;
    }

    .sidbtn span {
        display: block;
        width: 28px;
        height: 3px;
        background: black;
        position: absolute;
        top: 6px;
        left: 3px;
        transition: 0.3s;

    }

    .sidbtn span:after {
        content: '';
        position: absolute;

        background: black;
        top: 20px;
        left: 0;
        transition: 0.3s;
    }

}

/* PEMBAATASNYA BOS */


/* MIN 1081 */
@media screen and (min-width: 1081px) {

    /* side tombol */
    .sidbtn {
        position: absolute;
        right: 190px;
        top: 20px;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        background: black;
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
    }


    header {
        padding: 10px 35px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /* text banner */
    #textbanner {
        padding: 0;
        position: absolute;
        width: 690px;
    }

    #textbanner div {
        padding: 0 200px;
        margin-bottom: 5px;
        margin-left: -280px;
        font-size: 30px;
        line-height: 40px;
        overflow: hidden;
    }

    #paper {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 185px;
        transition: .3s;
    }

    #paper ul {
        float: right;
        padding: 30px 24px;
        height: 100%;
        display: block;
        text-decoration: none;
        background-color: rgba(19, 51, 76, 0.5);
    }

    #paper ul li {
        margin-bottom: 30px;

    }

    #paper ul li a {
        margin-bottom: 333px;
        color: white;
        font-size: 18px;
    }

    /* side tombol */
    .sidbtn {
        position: absolute;
        right: 190px;
        top: 20px;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        background: black;
        cursor: pointer;
        border: none;
        outline: none;
        display: block;
    }

    .sidbtn span {
        display: block;
        width: 28px;
        height: 3px;
        background: black;
        position: absolute;
        top: 6px;
        left: 3px;
        transition: 0.3s;
    }

    .sidbtn span:before {
        content: '';
        position: absolute;
        width: 28px;
        height: 3px;
        background: black;
        top: 10px;
        left: 0;
        transition: 0.3s;
    }

    .sidbtn span:after {
        content: '';
        position: absolute;
        width: 28px;
        height: 3px;
        background: black;
        top: 20px;
        left: 0;
        transition: 0.3s;
    }

}